@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Outfit";
  src: url('../assets/fonts/Outfit/static/Outfit-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Outfit";
  src: url('../assets/fonts/Outfit/static/Outfit-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit' , sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #7983A0;
    background: #0A192F;
  }
} */
